header, footer, aside, section{
    background-color: gray;
    font-size: 18px;
    padding: 24px 14px;
    margin: 10px;
}
header, footer{
    text-align: center;
    clear: both;
}

aside{
    float: right;
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}